<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Type" content="text/html; " />
    <title>寻找“同窗”的你•机械校友信息</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="includes/JQuery/jquery-1.10.2.min.js"></script>
    <link href="includes/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="includes/bootstrap/js/bootstrap.min.js"></script>
</head>

<body>

<form action="getExcel.php" method="post">
    <div class="form-group">
        <label for="user">账户</label>
        <input type="text" class="form-control" id="user" name="user" placeholder="User">
    </div>
    <div class="form-group">
        <label for="pwd">密码</label>
        <input type="password" class="form-control" id="pwd" name="pwd" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>
</div>
</body>
</html>
